<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>入力金額</h2>
        <input type="number" v-model="nyuryokugaku"/>
        <div>入力額: {{ nyuryokugaku }}円</div>

        <button v-on:click="nyukin" v-bind:disabled="nyuryokugaku === 0">入金</button>
        <button v-on:click="syukkin" v-bind:disabled="zandaka === 0 || zandaka < nyuryokugaku">出金</button>

        <div v-on:click="nyukin | syukkin" v-for="log in logs">日付:{{ log.date }}<br/>操作:{{ log.type }}<br/>金額:{{ log.money }}円</div>
        

        <h2>口座残高</h2>
        <div>残高: {{ zandaka }}円</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>